body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header form {
    margin-left: auto;
}