{% load static i18n %}
<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{% trans 'Homework assignment for a RIK job application' %}">

    <link rel="preload" as="style" href="{% static 'fonts-v1.css' %}" media="screen">
    <link rel="preload" as="style" href="{% static 'style-v1.screen.css' %}" media="screen">
    <link rel="preload" as="font" href="{% static 'interface-v1.woff2' %}" media="screen" crossorigin>

    <link rel="stylesheet" href="{% static 'fonts-v1.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'style-v1.screen.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'style-v1.print.css' %}" media="print">
    {% block extra_static %}{% endblock %}

    <title>{% trans 'Homework' %}</title>
</head><body>
<header>
    {% with request.resolver_match.url_name as current_view %}
        {% if current_view != "homepage" %}
            <a href="/">
                <h1>{% trans 'Homepage' %}</h1>
            </a>
        {% endif %}
        {% if current_view != "establish_llc" %}
            <a href="{% url 'establish_llc' %}">
                <h1>{% trans 'Establish an LLC' %}</h1>
            </a>
        {% endif %}
    {% endwith %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Change language' %}">
    </form>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <ul>
        <li><a class="icon_linkedIn" target="_blank" href="https://www.linkedin.com/in/lauri-elias/">LinkedIn</a></li>
        <li><a class="icon_github" target="_blank" href="https://github.com/Lauriy/rik_proovitoo">GitHub</a>
        <li><a class="icon_medium" target="_blank" href="https://lauri-elias.medium.com/">Medium</a></li>
    </ul>
</footer>
</body>
</html>